:root {
    --azulTransparente: #072c5054;
    --azulScuro: #072C50;
    --dorado: rgb(184, 135, 70);
    --doradoClaro: rgba(239, 243, 8, 0.295);
    --grisaseo: #5c5c5fed;
    --blancoZulado: #e6edf3de;
    --blancoScuro: #bec4cade;
    --blancoTransparente: #e6edf311;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./img/login.png');
    background-size: 100% 40%;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.container {
    background-color: var(--blancoScuro);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 100px var(--doradoClaro);
    margin-top: 10%;
}

.google-btn {
    background-color: var(--azulScuro);
    color: #fff;
}

.google-btn:hover {
    background-color: var(--dorado);
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    background-color: var(--azulScuro);
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.tab:hover {
    background-color: var(--dorado);
}

.tab.active {
    background-color: var(--azulScuro);
    border-bottom: 4px solid var(--dorado);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: var(--dorado);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: var(--grisaseo);
}

