body {
  font-family: "Kdam Thmor Pro", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/img/fondoLogin.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
body main {
  flex: 1;
  background-color: rgba(7, 44, 80, 0.3294117647);
  margin: 50px;
  filter: drop-shadow(5px 2px 1px #072C50);
  margin-top: 0;
  /*filtro clase para desaparecer articulos de barra buscadora*/
}
body main .ocultar {
  display: none;
}
body main .modal-container {
  border-radius: 1%;
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: rgba(230, 237, 243, 0.8705882353);
  background-color: #072C50;
  box-shadow: 1px 1px 3px 1px rgba(230, 237, 243, 0.8705882353);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}
body main .modal-container .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}
body main .modal-container img {
  height: 100%;
  width: 100%;
  border-radius: 2%;
  border-style: groove;
  border-color: rgba(7, 44, 80, 0.3294117647);
  box-shadow: 2px 2px 4px 2px rgb(184, 135, 70);
}
body main .modal-container::-webkit-scrollbar {
  display: none;
}
body main .modal-header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(190, 196, 202, 0.8705882353);
  width: 100%;
}
body main .modal-header-title {
  justify-self: start;
  color: #072C50;
}
body main .modal-header-button {
  cursor: pointer;
  color: #072C50;
}
body main .total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}
body main .delete-product {
  cursor: pointer;
  border-radius: 2%;
  border-style: groove;
  border-color: rgba(7, 44, 80, 0.3294117647);
  box-shadow: 2px 2px 4px 2px rgb(184, 135, 70);
}
body footer {
  background-color: rgba(7, 44, 80, 0.3294117647);
  color: rgba(230, 237, 243, 0.8705882353);
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 4px 2px rgb(184, 135, 70);
  position: relative;
}
body footer .container p {
  color: rgb(184, 135, 70);
}

/* Input de busqueda */
.search-bar-container {
  text-align: center;
  padding: 2px;
  padding-left: 60vh;
  padding-right: 60vh;
  background-color: rgba(7, 44, 80, 0.3294117647);
}
.search-bar-container .form-control::placeholder {
  text-align: center;
}

/* Barra de navegacion */
.navbar {
  text-align: center;
  padding-left: 20vh;
  padding-right: 50vh;
  margin-bottom: 0;
}
.navbar img {
  width: 5vh;
}
.navbar .cantidad-carrito {
  background-color: rgba(7, 44, 80, 0.3294117647);
  color: rgba(230, 237, 243, 0.8705882353);
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  top: 37px;
  right: 14px;
  position: absolute;
  display: none;
}

/* Login de index */
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(7, 44, 80, 0.3294117647);
}

.login-container, .register-container {
  background-color: rgba(230, 237, 243, 0.8705882353);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgb(184, 135, 70);
  width: 300px;
  margin: 0 10px;
}

.login-container h2, .register-container h2 {
  margin-top: 0;
  color: #072C50;
  border-top-style: double;
  border-color: rgb(184, 135, 70);
}

input[type=email], input[type=password],
input[type=text], button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(239, 243, 8, 0.295);
  border-radius: 4px;
}

button {
  background-color: rgb(184, 135, 70);
  color: #072C50;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #072C50;
  color: rgba(230, 237, 243, 0.8705882353);
}

/*main*/
h1 {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: rgba(230, 237, 243, 0.8705882353);
  font-size: 48px;
  filter: drop-shadow(5px 2px 1px rgba(239, 243, 8, 0.295));
  text-align: center;
}

h2 {
  color: rgba(230, 237, 243, 0.8705882353);
  font-size: 28px;
  filter: drop-shadow(2px 2px 1px #072C50);
  border-top-style: double;
  border-color: rgb(184, 135, 70);
  margin-top: 10px;
}

/*# sourceMappingURL=inicio.css.map */
