@import '../sass/variables/variables';
body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('/img/fondoLogin.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    main {
        flex: 1;
        background-color: $blancoTransparente;
        margin: 50px;
        filter: drop-shadow(5px 2px 1px $azulScuro);
        margin-top: 0;
/*filtro clase para desaparecer articulos de barra buscadora*/
        .filtro {
            display: none;
        }
        .modal-container {
            width: 80%;
            margin: 0 10%;
            max-height: 88vh;
            color: white;
            background-color: $azulScuro;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            overflow: auto;
            z-index: 9;
            top: 12vh;
            scrollbar-color: none;
        }

        .modal-container::-webkit-scrollbar {
            display: none;
        }

        .modal-header {
            display: flex;
            justify-content: space-around;
            background-color: black;
            color: white;
            width: 100%;
        }

        .modal-header-title {
            justify-self: start;
        }

        .modal-header-button {
            cursor: pointer;
        }
        .modal-container > .modal-content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 70%;
            margin: 10px;
        }

        .modal-container > div > img {
            height: 120px;
            width: 120px;
        }

        .total-content {
            font-size: 25px;
            padding: 20px;
            text-align: center;
            padding-top: 20px;
        }

        .delete-product {
            cursor: pointer;
        }

    }
    
    footer {
        background-color: $azulTransparente;
        color: $blancoZulado;
        text-align: center;
        padding: 10px;
        box-shadow: 2px 2px 4px 2px $dorado;
        position: relative;
        .container p {
            color: $dorado;
        }
    }
}
/* Input de busqueda */
.search-bar-container {
    text-align: center;
    padding: 2px;
    padding-left: 60vh;
    padding-right: 60vh;
    background-color: $azulTransparente;
    .form-control::placeholder {
        text-align: center;
    }
}
/* Barra de navegacion */
.navbar {
    text-align: center;
    padding-left: 20vh;
    padding-right: 50vh;
    margin-bottom: 0;
    img {
        width: 5vh;
    }

    .cantidad-carrito {
        background-color: $azulTransparente;
        color: $blancoZulado;
        border-radius: 50%;
        font-size: 12px;
        padding: 4px;
        top: 37px;
        right: 14px;
        position: absolute;
        display: none;
    }
    
}
/* Galeria de index */
.container .mt-5 {
    margin-top: 0;
}
.carousel-item img {
    height: 100vh; 
    width: 100vh;
    margin: 0 auto; /* Centrar la imagen dentro de su contenedor */
    margin-top: 0;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Color del texto */
}

/*main*/
h1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: $blancoZulado;
    font-size: 48px;
    filter: drop-shadow(5px 2px 1px $doradoClaro);
}

h2 {
    color: $blancoZulado;
    font-size: 28px;
    filter: drop-shadow(2px 2px 1px $azulScuro);
}

